In [3]:
import pandas as pd
movie_df = pd.read_csv('IMDB-Movie-Data-Copy1.csv')

In [5]:
movie_df.head(5)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [7]:
movie_df.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [9]:
movie_df['Title'] #prints only the title column

0      Guardians of the Galaxy
1                   Prometheus
2                        Split
3                         Sing
4                Suicide Squad
                ...
995       Secret in Their Eyes
996            Hostel: Part II
997     Step Up 2: The Streets
998               Search Party
999                 Nine Lives
Name: Title, Length: 1000, dtype: object

In [10]:
movie_df[['Title', 'Genre', 'Rank', 'Actors']] #displays the value in a list of columns

,Title,Genre,Rank,Actors
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",1,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S..."
1,Prometheus,"Adventure,Mystery,Sci-Fi",2,"Noomi Rapace, Logan Marshall-Green, Michael Fa..."
2,Split,"Horror,Thriller",3,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar..."
3,Sing,"Animation,Comedy,Family",4,"Matthew McConaughey,Reese Witherspoon, Seth Ma..."
4,Suicide Squad,"Action,Adventure,Fantasy",5,"Will Smith, Jared Leto, Margot Robbie, Viola D..."
...,...,...,...,...
995,Secret in Their Eyes,"Crime,Drama,Mystery",996,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts..."
996,Hostel: Part II,Horror,997,"Lauren German, Heather Matarazzo, Bijou Philli..."
997,Step Up 2: The Streets,"Drama,Music,Romance",998,"Robert Hoffman, Briana Evigan, Cassie Ventura,..."
998,Search Party,"Adventure,Comedy",999,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh..."
999,Nine Lives,"Comedy,Family,Fantasy",1000,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch..."

In [11]:
movie_df.iloc[999] #prints the details of the movie with index 999

Rank                                                               1000
Title                                                        Nine Lives
Genre                                             Comedy,Family,Fantasy
Description           A stuffy businessman finds himself trapped ins...
Director                                               Barry Sonnenfeld
Actors                Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...
Year                                                               2016
Runtime (Minutes)                                                    87
Rating                                                              5.3
Votes                                                             12435
Revenue (Millions)                                                19.64
Metascore                                                          11.0
Name: 999, dtype: object

In [14]:
movie_df.loc[movie_df['Title'] == 'Search Party'] #displays the details about the movie with the title

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0

In [17]:
sorted_df = movie_df.sort_values('Title') #sorts name in ascending order

In [18]:
type(sorted_df)

pandas.core.frame.DataFrame

In [ ]:
sorted_df.to_csv('Alphabetical-Movie-Dataser)